{erl_opts, [debug_info]}.

{deps, [
  {lfe, {git, "https://github.com/rvirding/lfe", {branch, "develop"}}},
  {nx, {git, "https://github.com/erlsci/nx", {branch, "rebar3-friendly"}}}
]}.

{plugins, [
  {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe", {branch, "master"}}},
  {rebar_mix, {git, "https://github.com/Supersonido/rebar_mix", {tag, "v0.4.0"}}}
]}.

{provider_hooks, [
  {pre, [{compile, {lfe, compile}},
         {compile, {mix, find_elixir_libs}}]}
]}.
    
{profiles, [
  {test, [
    {deps, [
      {ltest, {git, "https://github.com/lfex/ltest", {branch, "master"}}}
    ]},
    {eunit_opts, [verbose]},
    {erl_opts, [{src_dirs, ["src", "test"]}]}
  ]}
]}.
